<!doctype html>
<html lang="en">
    <head>
        <title>
        {{ titulo }}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <header></header>
        <div class="form1">
        <form>
            <h1>
              Bovespa
            </h1>
            <p class="user">
                <label for="user"><strong>Open</strong></label>
                {{conteudo1}}
                </p>
            <p class="user">
            <label for="user"><strong>High</strong></label>
            {{conteudo2}}
            </p>
            <p class="user">
            <label for="user"><strong>Low</strong></label>
            {{conteudo3}}
            </p>
            <p class="user">
            <label for="user"><strong>Close</strong></label>
            {{conteudo4}}
            </p>
        </form>
    </body>
</html>
