<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
  </head>
  <body>
    <div id="app">
        <h1>{{ContEmpresa}}</h1>
        <label for="user1"><strong>Open</strong></label>
        <p class="user1">{{ conteudo1 }}</p>
        <label for="user2"><strong>High</strong></label>
        <p class="user2">{{ conteudo2 }}</p>
        <label for="user1"><strong>Low</strong></label>
        <p class="user1">{{ conteudo3 }}</p>
        <label for="user2"><strong>Close</strong></label>
        <p class="user2">{{ conteudo4 }}</p>
    </div>
    <form action="/" method="POST">
        <button type="submit">Voltar pagina</button>
    </form>
    
    
  </body>
</html>